.fs12 {
  font-size: 12px !important;
}

.taskstable {
  font-size: 14px;
  width: 100% !important;
}

.taskstable tr {
  border-top: 1px solid #44617d !important;
}

.taskstable tr:hover {
  background-color: #466380 !important;
}

.taskstable thead tr:hover,
.taskstable tr.nohover:hover,
.taskstable tr.headerrow {
  background-color: transparent !important;
}

.taskstable tr:hover td {
  background-color: transparent; /* or #000 */
}

.taskstable tr:first-of-type {
  border-top: none !important;
  border-bottom: 1px solid #44617d !important;
}

.taskstable td {
  padding: 8px 25px 8px 0 !important;
  vertical-align: top;
}

.taskstable td:last-child {
  padding-right: 8px !important;
}

.taskstable tr.headerrow {
  color: #9aaaba;
  font-weight: bold;
}

td.right,
th.right {
  text-align: right !important;
}

.taskstable td.pl15 {
  padding-left: 15px !important;
}

@media only screen and (max-width: 990px) {
  .taskstable {
    font-size: 12px;
  }
}
@media only screen and (max-width: 770px) {
  .mobileHide {
    display: none;
  }
  .mobileShow {
    display: block;
  }
}

@media only screen and (max-width: 400px) {
  .mobileSmall {
    font-size: 10px;
  }

  .taskstable td.pl15 {
    padding-left: 2px !important;
  }
  .taskstable td:last-child {
    padding-right: 2px !important;
  }

  mat-card {
    padding-left: 1px !important;
  }
}
