div.clientmenu {
  text-align: right;
}

div.clientmenu div {
  position: absolute;
  bottom: 5px;
  right: 20px;
}

a.clients-menu {
  font-size: 0.9em;
}

@media only screen and (max-width: 490px) {
  div.clientmenu {
    text-align: left;
    padding-left: 40px;
  }

  div.clientmenu div {
    position: relative;
  }
}
