:host {
  display: block;
}
.dashboard {
  position: relative;
  &__new {
    margin: -35px -35px 35px;
    background: #f9f9f9;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
}
