mat-input-container {
  width: 48%;
  margin: 0;
}

.mright {
  margin-right: 15px;
}

mat-checkbox {
  cursor: pointer;
  font-size: 0.9em;
  margin-right: 10px;
}

div.checkbox-text {
  color: white;
  cursor: pointer;
  padding-top: 4px !important;
}
