<mat-card>
  <form [formGroup]="form">
    <mat-input-container class="mright">
      <input type="text" id="clientName" formControlName="clientName" required matInput placeholder="Client Name">
    </mat-input-container>
    <mat-input-container>
      <input type="text" id="shortName" formControlName="shortName" required matInput placeholder="Short Name">
    </mat-input-container>
    <mat-input-container class="mright">
      <input type="text" id="contact" formControlName="contact" required matInput placeholder="Contact">
    </mat-input-container>
    <mat-input-container>
      <input type="text" id="email" formControlName="email" required matInput placeholder="Email">
    </mat-input-container>
    <mat-input-container class="mright">
      <input type="text" id="phone" formControlName="phone" required matInput placeholder="Phone">
    </mat-input-container>
    <mat-input-container>
      <input type="text" id="website" formControlName="website" required matInput placeholder="Website">
    </mat-input-container>
    <mat-input-container class="mright">
      <input type="text" id="address1" formControlName="address1" required matInput placeholder="Address">
    </mat-input-container>
    <mat-input-container>
      <input type="text" id="address2" formControlName="address2" matInput placeholder="Unit/Apt #">
    </mat-input-container>
    <mat-input-container class="mright">
      <input type="text" id="city" formControlName="city" required matInput placeholder="City">
    </mat-input-container>
    <mat-input-container>
      <input type="text" id="state" formControlName="state" required matInput placeholder="State">
    </mat-input-container>
    <mat-input-container class="mright">
      <input type="text" id="postalCode" formControlName="postalCode" required matInput placeholder="Postal Code">
    </mat-input-container>
    <mat-input-container>
      <input type="text" id="country" formControlName="country" required matInput placeholder="Country">
    </mat-input-container>
    <mat-input-container class="mright">
      <input type="number" id="hourRate" formControlName="hourRate" required matInput placeholder="Hourly Rate">
    </mat-input-container>
    <mat-input-container>
      <input type="number" id="halfHourRate" formControlName="halfHourRate" required matInput placeholder="Half Hour Rate">
    </mat-input-container>
    <section>
      <mat-checkbox id="active" formControlName="active">
        <span style="font-weight: normal;">Active</span>
      </mat-checkbox>
    </section>

    <mat-card-actions align="right" class="mright">
      <!-- <span class="save-warning" *ngIf="form.dirty && !form.valid && mouseHover">
        Please fill in all required fields appropriately
      </span> -->
      <span>
        <!--(mouseenter)="mouseHover=true" (mouseleave)="mouseHover=false" -->
        <div class="client-form__actions">
          <span class="save-warning" *ngIf="form.dirty && !form.valid && mouseHover">
            Please fill in all required fields appropriately
          </span>
          <span (mouseenter)="mouseHover=true" (mouseleave)="mouseHover=false">
            <button mat-raised-button type="button" class="formsubmit-btn" *ngIf="!exists" (click)="createClient(form)">
              Create Client
            </button>

            <button mat-raised-button type="button" class="formsubmit-btn" *ngIf="exists" (click)="updateClient(form)">
              Save changes
            </button>
          </span>
          <!-- <button mat-raised-button type="button" class="btn btn__warning" *ngIf="exists" (click)="removeClient(form)">
            Delete Client
          </button> -->

          <button class="formcancel-btn" mat-raised-button (click)="cancelClient()">Cancel</button>
        </div>
      </span>
    </mat-card-actions>
  </form>
</mat-card>



<!-- <div class="client-form">
  <form [formGroup]="form">

    <label>
      <h4>Client name</h4>
      <input type="text" formControlName="clientName" placeholder="Client Name*" class="client-form__input" [class.error]="clientNameControlInvalid">
      <div class="client-form__error" *ngIf="clientNameControlInvalid">
        <p>Please specify a Client Name</p>
      </div>
    </label>

    <label>
      <h4>Short name</h4>
      <input type="text" formControlName="shortName" placeholder="Short Name*" class="client-form__input" [class.error]="shortNameControlInvalid">
      <div class="client-form__error" *ngIf="shortNameControlInvalid">
        <p>Please specify a Short Name</p>
      </div>
    </label>

    <label>
      <h4>Contact</h4>
      <input type="text" formControlName="contact" placeholder="Contact*" class="client-form__input" [class.error]="contactControlInvalid">
      <div class="client-form__error" *ngIf="contactControlInvalid">
        <p>Please specify a Contact</p>
      </div>
    </label>

    <label>
      <h4>Email</h4>
      <input type="text" formControlName="email" placeholder="Email*" class="client-form__input" [class.error]="emailControlInvalid">
      <div class="client-form__error" *ngIf="emailControlInvalid">
        <p>Please specify an Email</p>
      </div>
    </label>

    <label>
      <h4>Phone</h4>
      <input type="text" formControlName="phone" placeholder="Phone*" class="client-form__input" [class.error]="phoneControlInvalid">
      <div class="client-form__error" *ngIf="phoneControlInvalid">
        <p>Please specify a Phone Number</p>
      </div>
    </label>

    <label>
      <h4>Website</h4>
      <input type="text" formControlName="website" placeholder="Website*" class="client-form__input" [class.error]="websiteControlInvalid">
      <div class="client-form__error" *ngIf="websiteControlInvalid">
        <p>Please specify a Website</p>
      </div>
    </label>

    <label>
      <h4>Address</h4>
      <input type="text" formControlName="address1" placeholder="Address*" class="client-form__input" [class.error]="address1ControlInvalid">
      <div class="client-form__error" *ngIf="address1ControlInvalid">
        <p>Please specify an Address</p>
      </div>
      <input style="margin-top: 4px;" type="text" formControlName="address2" placeholder="" class="client-form__input">
    </label>

    <label>
      <h4>City</h4>
      <input type="text" formControlName="city" placeholder="City*" class="client-form__input" [class.error]="cityControlInvalid">
      <div class="client-form__error" *ngIf="cityControlInvalid">
        <p>Please specify a City</p>
      </div>
    </label>

    <label>
      <h4>State</h4>
      <input type="text" formControlName="state" placeholder="State*" class="client-form__input" [class.error]="stateControlInvalid">
      <div class="client-form__error" *ngIf="stateControlInvalid">
        <p>Please specify a State</p>
      </div>
    </label>

    <label>
      <h4>Postal Code</h4>
      <input type="text" formControlName="postalCode" placeholder="Postal Code*" class="client-form__input" [class.error]="postalCodeControlInvalid">
      <div class="client-form__error" *ngIf="postalCodeControlInvalid">
        <p>Please specify a Postal Code</p>
      </div>
    </label>

    <label>
      <h4>Country</h4>
      <input type="text" formControlName="country" placeholder="Country*" class="client-form__input" [class.error]="countrControlInvalid">
      <div class="client-form__error" *ngIf="countryControlInvalid">
        <p>Please specify a Country</p>
      </div>
    </label>

    <label>
      <h4>Hourly Rate</h4>
      <input type="number" formControlName="hourRate" class="client-form__input" [class.error]="hourRateControlInvalid">
      <div class="client-form__error" *ngIf="hourRateControlInvalid">
        <p>Please specify an Hourly Rate</p>
      </div>
    </label>

    <label>
      <h4>Half Hour Rate</h4>
      <input type="number" formControlName="halfHourRate" class="client-form__input" [class.error]="halfHourRateControlInvalid">
      <div class="client-form__error" *ngIf="halfHourRateControlInvalid">
        <p>Please specify an Half Hour Rate</p>
      </div>
    </label>

    <label>
      <h4>Active</h4>
      <input type="checkbox" formControlName="active" class="client-form__checkbox">

    </label>
    1234
    <ng-content></ng-content>4321 



    <div class="client-form__actions">
      <button type="button" class="btn btn__ok" *ngIf="!exists" (click)="createClient(form)">
        Create Client
      </button>

      <button type="button" class="btn btn__ok" *ngIf="exists" (click)="updateClient(form)">
        Save changes
      </button>

      <button type="button" class="btn btn__warning" *ngIf="exists" (click)="removeClient(form)">
        Delete Client
      </button>
    </div>

  </form>
</div> -->