<div class="container main" [@routerTransition]>
  <div class="row">
    <div class="title" [ngClass]="animateOnRouteEnter">Angular/Firestore Invoice Tracker</div>
  </div>

  <div class="row" [ngClass]="animateOnRouteEnter">
    <div class="aboutme col-md-6 col-lg-6">
      <p [ngClass]="animateOnRouteEnter">
        After nearly twenty years as a server side programmer I wanted to learn someting new. I began teaching myself Angular in
        mid-November 2017.
      </p>
      <p [ngClass]="animateOnRouteEnter">
        This is the result of my toils. Login above and click around. Have fun!
      </p>
      <p [ngClass]="animateOnRouteEnter" style="padding-bottom: 25px;">
        If you'd like to hire me for an Angular project, ask me something, or tell me to gtfohwtmfbs email me at
        <a href=" mailto:ccrookewebdesign@gmail.com ">ccrookewebdesign@gmail.com</a>
      </p>
    </div>
    <div [ngClass]="animateOnRouteEnter " class="stupid-face col-md-6 col-lg-6 ">
      <div style="text-align: center;">
        <a href="https://angular.io/" target="_blank">
          <img [ngClass]="animateOnRouteEnter " src="/assets/img/angular-logo.png">
        </a>
        <a href="https://firebase.google.com/" target="_blank">
          <img [ngClass]="animateOnRouteEnter " src="/assets/img/firestore-logo.png">
        </a>
      </div>
      <div class="appdetails">
        <p>
          This sample application was developed using
          <a href="https://angular.io/" target="_blank">Angular 5</a>
          and
          <a href="https://firebase.google.com/" target="_blank">Firestore</a>.
        </p>
        <p>
          I mean... also
          <a href="https://github.com/angular/angularfire2" target="_blank">AngularFire</a>,
          <a href="https://material.angular.io/" target="_blank">Angular Material</a>,
          <a href="https://github.com/ngrx/platform" target="_blank">@ngrx/store</a>,
          <a href="http://reactivex.io/" target="_blank">ReactiveX</a>, and like a half dozen other things... but so it goes with front end programming, I suppose.

        </p>
      </div>
    </div>
  </div>